@tailwind base;
@tailwind components;
@tailwind utilities;

.divMessage{
    background-color:aquamarine;
    border-radius: 10px;
    padding: 10px 8px 10px 8px;
    margin-left: 4rem;
    text-align: end;
}

.divResponse{
    background-color:aquamarine;
    border-radius: 10px;
    padding: 10px 8px 10px 8px;
    margin-right: 4rem;
    text-align: start;
}